<%- include('partials/header'); -%>

<div class="container">
  <ul>
    <% if (user){ %>
    <li id="welcome-text">Welcome, <%= user.email %></li>
    <li><a href="/logout">Logout</a></li>
    <li><a href="/create">Write A Blog</a></li>
    <li><a href="/">Home</a></li>
    <% } else { %>
    <li><a href="/login">Login</a></li>
    <li><a href="/signup" class="btn">Sign up</a></li>
    <% } %>
  </ul>
    <div class="blogpost-container">
        <h2><%= blog.title %></h2>
        <div class="content">
          <p><%= blog.content %></p>
        </div>
      </div>
      </div>

      <h2>REPLY TO BLOG</h2>
      <div class="comment-cont">
        <form>
          <label for="CONTENT">CONTENT</label>
          <input type="text" name="CONTENT">
          <input type="hidden" name="AUTHOR" data-doc="<%=user.email%>">
          <input type="hidden" name="ORIGINALBLOG" data-doc="<%=blog._id%>">
          <button id="commentsubmit" type="button">Send Comment</button>
        </form>
      </div>

      <h2>ALL COMMENTS</h2>
      <div class="commentpost-container">
        <%if(comments.length > 0){%>
          <%comments.forEach(comment => {%>
              <div class="commentpost-result">
                <h3><%=comment.content%></h3>
                <p><b>COMMENTED BY:</b> <%=comment.author%></p>
                <%if(user.email === blog.author){%>
               <button class="remove-comment" data-doc="<%=comment._id%>" onclick="deleteTRASH('<%=comment._id%>')">Remove</button>
                <%}%>
              </div>

          <%})%>
        <%}else{%>
          <p>THERE ARE NO COMMENTS</p>
        <%}%>
      </div>

</div>

<script src="/JS/details.js"></script>

<%- include('partials/footer'); -%>