<%- include('partials/header'); -%>

<div class="container">
  <ul>
    <% if (user){ %>
    <li>Welcome, <%= user.email %></li>
    <li><a href="/logout">Logout</a></li>
    <% } else { %>
    <li><a href="/login">Login</a></li>
    <li><a href="/signup" class="btn">Sign up</a></li>
    <% } %>
  </ul>

    <h1>ALL BLOGS</h1>
    <div class="blogpost-container">
        <%if(blogresult.length > 0){%>
          <%blogresult.forEach(blog => {%>
            <div class="blog-cont">
              <h3><%=blog.title%></h3>
              <p><b>AUTHOR:</b> <%=blog.author%></p>
            </div>
          <%})%>
        <%}else{%>
          <p>THERES NOTHING TO DISPLAY</p>
        <%}%>
      </div>

</div>


<%- include('partials/footer'); -%>